# General
.DS_Store
.vscode/

# Backend
backend/node_modules/
backend/dist/
backend/.env

# Frontend
frontend/.dart_tool/
frontend/build/
frontend/.packages
frontend/.pub-cache/
frontend/.pub/
frontend/ios/.symlinks/
frontend/ios/Pods/
frontend/macos/Pods/
